CustomizeFont/CustomizeFont/CustomizeFont.Android/obj/
CustomizeFont/CustomizeFont/CustomizeFont.Android/bin/
CustomizeFont/CustomizeFont/CustomizeFont.iOS/obj/
CustomizeFont/CustomizeFont/CustomizeFont.iOS/bin/
CustomizeFont/CustomizeFont/CustomizeFont/obj/
CustomizeFont/CustomizeFont/CustomizeFont/bin/